/* DEFAULTS */
* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p {
	max-width: $text-max-width;
	margin-bottom: $blh;
}

h1 {
	text-align: center;
	margin: 0 auto;
	padding-top: 2 * $blh;
}

img {
	object-fit: cover;
	object-position: center;
	display: block;
	max-width: 100%;
}

.material-icons {
	line-height: 4 * $blh;
	width: 4 * $blh;
	text-align: center;
	border-radius: 100%;
}

/* BLOCKS */
.product {
	margin: 0 auto 2 * $blh;
	max-width: 1.6 * $text-max-width;

	&__stock,
	&__price {
		margin-bottom: 0;
	}

	@media screen and (min-width: 2 * $base-bp) {
		&__container {
			display: flex;
		}

		&__figure,
		&__info {
			width: 50%;
		}

		&__figure {
			padding: 16px 16px 24px;
			height: 16 * $blh;
			max-width: 235px;
		}

		&__info {
			flex: 1 0 auto;
		}

		&__img{
			object-fit: contain;
			height: 100%;
			margin: 0 auto;
		}
	}
}

.products {
	padding: 0 2 * $blh;
}

.products-container {
	&__p {
		max-width: calc(#{1.6 * $text-max-width} + #{4 * $blh});
		margin: 0 auto $blh;
		padding: $blh 2 * $blh 0;
	}
}

.md-list--drawer {
	.title-item {
		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	span {
		padding-left: $blh;
	}

	.material-icons {
		margin-right: $blh;
	}

	a {
		display: flex;
		height: 4 * $blh;
		align-items: center;

		@media screen and (min-width: 768px) {
			padding-left: $blh;	
		}
	}

	li {
		margin-bottom: $blh;
	}

	button {
		border: none;
		padding: 0;
		position: absolute;
		right: -4 * $blh;
		top: 0;
	}
}

.md-drawer-relative {
	margin-left: 48px;

	@media screen and (min-width: 768px) {
		margin-left: 256px;
	}
}

.main-nav {
	width: 100%;

	ul {
		display: flex;
		justify-content: center;
		height: 100%;
		margin: 0 auto;
	}

	li {
		flex: 1 0 auto;
	}

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	@media screen and (min-width: 768px) {
		a {
			padding: 0 $blh;
		}

		li {
			flex: 0 0 auto;
			margin: 0  2 * $blh;
		}
	}
}