/* DEFAULTS */
* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
p {
	max-width: $text-max-width;
	margin-bottom: $blh;
}

img {
	object-fit: cover;
	object-position: center;
	display: block;
	max-width: 100%;
}

.material-icons {
	line-height: 4 * $blh;
	width: 4 * $blh;
	text-align: center;
	border-radius: 100%;
}

/* BLOCKS */
.product {
	margin: 0 auto 2 * $blh;
	max-width: 1.6 * $text-max-width;

	&__stock,
	&__price {
		margin-bottom: 0;
	}

	@media screen and (min-width: 2 * $base-bp) {
		&__container {
			display: flex;
		}

		&__figure,
		&__info {
			width: 50%;
		}

		&__figure {
			padding: 16px 16px 24px;
			height: 16 * $blh;
			max-width: 235px;
		}

		&__info {
			flex: 1 0 auto;
		}

		&__img{
			object-fit: contain;
			height: 100%;
			margin: 0 auto;
		}
	}
}

.products {
	padding: 0 2 * $blh;
}

.products-container {
	&__p {
		max-width: calc(#{1.6 * $text-max-width} + #{4 * $blh});
		margin: 0 auto $blh;
		padding: $blh 2 * $blh 0;
	}
}

.md-list--drawer {
	span {
		padding-left: $blh;
	}

	.material-icons {
		margin-right: $blh;
	}

	a {
		display: flex;
		height: 4 * $blh;
		align-items: center;
		padding-left: $blh;
	}

	li {
		margin-bottom: $blh;
	}
}